## Matt Sloane / ms9548

#### Homework 9 - Assignment 1 - Inclass Lab

In [16]:
# Import Modules

import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

In [17]:
# Part 1 - Define a reserach question: Which Community Districts in NYC show the highest number of complaints?
# Part 2 - Import 311 data

data_311 = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')
data_311.columns

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Park Facility Name', 'Park Borough',
       'School Name', 'School Number', 'School Region', 'School Code',
       'School Phone Number', 'School Address', 'School City', 'School State',
       'School Zip', 'School Not Found', 'School or Citywide Complaint',
       'Vehicle Type', 'Taxi Company Borough', 'Taxi Pick Up Location',
       'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp',
       'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction',
       'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [18]:
# Drop unnecessary columns

reduct_311 = data_311.drop(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Location Type', 'Incident Zip','Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type','City', 'Landmark', 'Facility Type', 'Status', 
       'Due Date', 'Resolution Description', 'Resolution Action Updated Date', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Park Facility Name', 'Park Borough', 'School Name', 'School Number', 
       'School Region', 'School Code', 'School Phone Number', 'School Address', 'School City', 'School State',
       'School Zip', 'School Not Found', 'School or Citywide Complaint','Vehicle Type', 'Taxi Company Borough', 
       'Taxi Pick Up Location','Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment', 
       'Garage Lot Name', 'Ferry Direction', 'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location'], axis = 1)
reduct_311.head(5)

,Complaint Type,Descriptor,Community Board,Borough
0,Street Condition,Pothole,13 BROOKLYN,BROOKLYN
1,Opinion for the Mayor,HOUSING,0 Unspecified,Unspecified
2,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,18 BROOKLYN,BROOKLYN
3,Illegal Parking,Blocked Hydrant,12 BROOKLYN,BROOKLYN
4,Benefit Card Replacement,Medicaid,0 Unspecified,Unspecified

In [19]:
# Check if all Boroughs and Community Districts are represented in the Data
print (reduct_311['Community Board'].unique())
print (reduct_311['Borough'].unique())

['13 BROOKLYN' '0 Unspecified' '18 BROOKLYN' '12 BROOKLYN'
 '02 STATEN ISLAND' '08 MANHATTAN' '06 BROOKLYN' '10 BRONX' '06 MANHATTAN'
 '04 BROOKLYN' '04 QUEENS' '09 MANHATTAN' '14 BROOKLYN' '05 MANHATTAN'
 '02 MANHATTAN' '10 QUEENS' '07 QUEENS' '02 QUEENS' '11 BROOKLYN'
 '05 QUEENS' '05 BROOKLYN' '09 QUEENS' '12 MANHATTAN' '01 BROOKLYN'
 '11 MANHATTAN' '03 BRONX' '03 STATEN ISLAND' '08 BROOKLYN' '03 BROOKLYN'
 '07 MANHATTAN' '10 MANHATTAN' '04 BRONX' '01 MANHATTAN' '07 BRONX'
 '09 BRONX' '03 MANHATTAN' '13 QUEENS' '02 BRONX' '12 QUEENS' '16 BROOKLYN'
 '08 QUEENS' '04 MANHATTAN' '14 QUEENS' '10 BROOKLYN' '11 QUEENS'
 '06 BRONX' '08 BRONX' '05 BRONX' '15 BROOKLYN' '02 BROOKLYN' '12 BRONX'
 '03 QUEENS' '06 QUEENS' '01 STATEN ISLAND' '01 BRONX' '01 QUEENS'
 '17 BROOKLYN' '11 BRONX' 'Unspecified QUEENS' '09 BROOKLYN'
 'Unspecified MANHATTAN' 'Unspecified BROOKLYN' '07 BROOKLYN'
 'Unspecified BRONX' '64 MANHATTAN' '81 QUEENS' '55 BROOKLYN' '83 QUEENS'
 'Unspecified STATEN ISLAND' '28 BRONX' '80 QUEENS' '26 BRONX'
 '95 STATEN ISLAND' '82 QUEENS' '27 BRONX' '56 BROOKLYN' '84 QUEENS']
['BROOKLYN' 'Unspecified' 'STATEN ISLAND' 'MANHATTAN' 'BRONX' 'QUEENS']

In [20]:
# How many unique values do we have? 
print (len(reduct_311['Community Board'].unique()))
print (len(reduct_311['Borough'].unique()))

77
6

In [21]:
# Deleting Invalid Data - Unspecified Values, Guidance / Code from:
# http://stackoverflow.com/questions/11350770/pandas-dataframe-select-by-partial-string
reduct_311 = reduct_311[reduct_311['Community Board'].str.contains('Unspecified') == False]
reduct_311 = reduct_311[reduct_311['Borough'].str.contains('Unspecified') == False]

In [22]:
print(len(reduct_311['Community Board'].unique()))
print(len(reduct_311['Borough'].unique()))

71
5

In [23]:
# Deleting Invalid Data - Non-Real Community Boards
reduct_311['Check'] = 'NaN'
grouby_311 = reduct_311.groupby(['Community Board'], as_index = False).count()

In [24]:
grouby_311

     Community Board  Complaint Type  Descriptor  Borough   Check
0           01 BRONX           74631       74312    74631   74631
1        01 BROOKLYN          185057      184119   185057  185057
2       01 MANHATTAN           77974       77099    77974   77974
3          01 QUEENS          171484      170936   171484  171484
4   01 STATEN ISLAND          182713      182178   182713  182713
5           02 BRONX           60257       60183    60257   60257
6        02 BROOKLYN          121022      120226   121022  121022
7       02 MANHATTAN          133860      132007   133860  133860
8          02 QUEENS          114333      113945   114333  114333
9   02 STATEN ISLAND          121132      120875   121132  121132
10          03 BRONX           75134       74961    75134   75134
11       03 BROOKLYN          197306      196725   197306  197306
12      03 MANHATTAN          150296      148807   150296  150296
13         03 QUEENS          122009      121716   122009  122009
14  03 STATEN ISLAND          136487      136222   136487  136487
15          04 BRONX          181953      181674   181953  181953
16       04 BROOKLYN          139706      139308   139706  139706
17      04 MANHATTAN          132660      131009   132660  132660
18         04 QUEENS           99316       98940    99316   99316
19          05 BRONX          161078      160890   161078  161078
20       05 BROOKLYN          189765      189389   189765  189765
21      05 MANHATTAN          142028      140071   142028  142028
22         05 QUEENS          168570      168182   168570  168570
23          06 BRONX           99547       99358    99547   99547
24       06 BROOKLYN          114029      113675   114029  114029
25      06 MANHATTAN          104249      103163   104249  104249
26         06 QUEENS           90938       90622    90938   90938
27          07 BRONX          185729      185415   185729  185729
28       07 BROOKLYN          107031      106727   107031  107031
29      07 MANHATTAN          151419      150052   151419  151419
..               ...             ...         ...      ...     ...
41      10 MANHATTAN          137344      136522   137344  137344
42         10 QUEENS          128116      127826   128116  128116
43          11 BRONX          122081      121805   122081  122081
44       11 BROOKLYN          139890      139583   139890  139890
45      11 MANHATTAN           95413       94614    95413   95413
46         11 QUEENS          101908      101756   101908  101908
47          12 BRONX          168455      168121   168455  168455
48       12 BROOKLYN          150320      149920   150320  150320
49      12 MANHATTAN          268053      267447   268053  268053
50         12 QUEENS          229383      228767   229383  229383
51       13 BROOKLYN           72362       72001    72362   72362
52         13 QUEENS          163851      163528   163851  163851
53       14 BROOKLYN          187794      187398   187794  187794
54         14 QUEENS          103396      103166   103396  103396
55       15 BROOKLYN          146129      145717   146129  146129
56       16 BROOKLYN           85467       85279    85467   85467
57       17 BROOKLYN          191720      191449   191720  191720
58       18 BROOKLYN          156100      155801   156100  156100
59          26 BRONX             397         395      397     397
60          27 BRONX             469         467      469     469
61          28 BRONX             433         432      433     433
62       55 BROOKLYN             767         728      767     767
63       56 BROOKLYN             834         833      834     834
64      64 MANHATTAN             904         837      904     904
65         80 QUEENS            2363        2362     2363    2363
66         81 QUEENS            1420        1415     1420    1420
67         82 QUEENS             725         723      725     725
68         83 QUEENS            3072        3066     3072    3072
69         84 QUEENS             274         273      274     274
70  95 STATEN ISLAND             531         525      531     531

[71 rows x 5 columns]

In [32]:
# Loop through rows, splitting Community Board values and converting the first value of the split to an interger,
# if higher than 18 (max # of community boards in any given borough), mark for deletion.
for x in range(0, len(grouby_311)):
        if int(grouby_311['Community Board'][x].split(' ')[0]) < 19:
            grouby_311['Check'][x] = 'Keep'
        else:
            grouby_311['Check'][x] = 'Delete'

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
# Check Data
grouby_311

     Community Board  Complaint Type  Descriptor  Borough   Check
0           01 BRONX           74631       74312    74631    Keep
1        01 BROOKLYN          185057      184119   185057    Keep
2       01 MANHATTAN           77974       77099    77974    Keep
3          01 QUEENS          171484      170936   171484    Keep
4   01 STATEN ISLAND          182713      182178   182713    Keep
5           02 BRONX           60257       60183    60257    Keep
6        02 BROOKLYN          121022      120226   121022    Keep
7       02 MANHATTAN          133860      132007   133860    Keep
8          02 QUEENS          114333      113945   114333    Keep
9   02 STATEN ISLAND          121132      120875   121132    Keep
10          03 BRONX           75134       74961    75134    Keep
11       03 BROOKLYN          197306      196725   197306    Keep
12      03 MANHATTAN          150296      148807   150296    Keep
13         03 QUEENS          122009      121716   122009    Keep
14  03 STATEN ISLAND          136487      136222   136487    Keep
15          04 BRONX          181953      181674   181953    Keep
16       04 BROOKLYN          139706      139308   139706    Keep
17      04 MANHATTAN          132660      131009   132660    Keep
18         04 QUEENS           99316       98940    99316    Keep
19          05 BRONX          161078      160890   161078    Keep
20       05 BROOKLYN          189765      189389   189765    Keep
21      05 MANHATTAN          142028      140071   142028    Keep
22         05 QUEENS          168570      168182   168570    Keep
23          06 BRONX           99547       99358    99547    Keep
24       06 BROOKLYN          114029      113675   114029    Keep
25      06 MANHATTAN          104249      103163   104249    Keep
26         06 QUEENS           90938       90622    90938    Keep
27          07 BRONX          185729      185415   185729    Keep
28       07 BROOKLYN          107031      106727   107031    Keep
29      07 MANHATTAN          151419      150052   151419    Keep
..               ...             ...         ...      ...     ...
41      10 MANHATTAN          137344      136522   137344    Keep
42         10 QUEENS          128116      127826   128116    Keep
43          11 BRONX          122081      121805   122081    Keep
44       11 BROOKLYN          139890      139583   139890    Keep
45      11 MANHATTAN           95413       94614    95413    Keep
46         11 QUEENS          101908      101756   101908    Keep
47          12 BRONX          168455      168121   168455    Keep
48       12 BROOKLYN          150320      149920   150320    Keep
49      12 MANHATTAN          268053      267447   268053    Keep
50         12 QUEENS          229383      228767   229383    Keep
51       13 BROOKLYN           72362       72001    72362    Keep
52         13 QUEENS          163851      163528   163851    Keep
53       14 BROOKLYN          187794      187398   187794    Keep
54         14 QUEENS          103396      103166   103396    Keep
55       15 BROOKLYN          146129      145717   146129    Keep
56       16 BROOKLYN           85467       85279    85467    Keep
57       17 BROOKLYN          191720      191449   191720    Keep
58       18 BROOKLYN          156100      155801   156100    Keep
59          26 BRONX             397         395      397  Delete
60          27 BRONX             469         467      469  Delete
61          28 BRONX             433         432      433  Delete
62       55 BROOKLYN             767         728      767  Delete
63       56 BROOKLYN             834         833      834  Delete
64      64 MANHATTAN             904         837      904  Delete
65         80 QUEENS            2363        2362     2363  Delete
66         81 QUEENS            1420        1415     1420  Delete
67         82 QUEENS             725         723      725  Delete
68         83 QUEENS            3072        3066     3072  Delete
69         84 QUEENS             274         273      274  Delete
70  95 STATEN ISLAND             531         525      531  Delete

[71 rows x 5 columns]

In [36]:
# Remove those rows with Check = Delete
final_311 = grouby_311[grouby_311['Check'].str.contains('Delete') == False]

In [43]:
# Remove unnecessary columns
final_311 = final_311.drop(['Descriptor', 'Borough', 'Check'], axis = 1)

ValueError: labels ['Descriptor' 'Borough' 'Check'] not contained in axis

In [46]:
# Rank Complaint Count
final_311['Complaint Rank'] = final_311['Complaint Type'].rank(ascending = False)
final_311

     Community Board  Complaint Type  Complaint Rank
0           01 BRONX           74631            54.0
1        01 BROOKLYN          185057             9.0
5           02 BRONX           60257            56.0
6        02 BROOKLYN          121022            38.0
7       02 MANHATTAN          133860            30.0
8          02 QUEENS          114333            39.0
9   02 STATEN ISLAND          121132            37.0
10          03 BRONX           75134            53.0
11       03 BROOKLYN          197306             3.0
12      03 MANHATTAN          150296            19.0
13         03 QUEENS          122009            36.0
14  03 STATEN ISLAND          136487            28.0
15          04 BRONX          181953            10.0
16       04 BROOKLYN          139706            26.0
17      04 MANHATTAN          132660            31.0
18         04 QUEENS           99316            47.0
19          05 BRONX          161078            14.0
20       05 BROOKLYN          189765             6.0
21      05 MANHATTAN          142028            23.0
22         05 QUEENS          168570            11.0
23          06 BRONX           99547            46.0
24       06 BROOKLYN          114029            40.0
25      06 MANHATTAN          104249            43.0
26         06 QUEENS           90938            51.0
27          07 BRONX          185729             8.0
28       07 BROOKLYN          107031            42.0
29      07 MANHATTAN          151419            16.0
30         07 QUEENS          195961             4.0
31          08 BRONX           92733            50.0
32       08 BROOKLYN          141119            24.0
33      08 MANHATTAN          149076            20.0
34         08 QUEENS          123131            34.0
35          09 BRONX          147457            21.0
36       09 BROOKLYN          135833            29.0
37      09 MANHATTAN          127565            33.0
38         09 QUEENS          151242            17.0
39          10 BRONX           95496            48.0
40       10 BROOKLYN          111837            41.0
41      10 MANHATTAN          137344            27.0
42         10 QUEENS          128116            32.0
43          11 BRONX          122081            35.0
44       11 BROOKLYN          139890            25.0
45      11 MANHATTAN           95413            49.0
46         11 QUEENS          101908            45.0
47          12 BRONX          168455            12.0
48       12 BROOKLYN          150320            18.0
49      12 MANHATTAN          268053             1.0
50         12 QUEENS          229383             2.0
51       13 BROOKLYN           72362            55.0
52         13 QUEENS          163851            13.0
53       14 BROOKLYN          187794             7.0
54         14 QUEENS          103396            44.0
55       15 BROOKLYN          146129            22.0
56       16 BROOKLYN           85467            52.0
57       17 BROOKLYN          191720             5.0
58       18 BROOKLYN          156100            15.0

In [55]:
# Part 4 - Think about the interpretation of your results?
# Load Demographic Data
cd_DemoData = pd.read_csv('http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv')
cd_DemoData.columns

Index(['FIPS', 'cd_id', 'Total Population',
       'Population Density (per sq. mile)', '% Total Population: Male',
       '% Total Population: 18 to 24 Years',
       '% Total Population: 25 to 34 Years',
       '% Total Population: 35 to 44 Years',
       '% Population 5 Years And Over: Speak Only English',
       '% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       '% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       '% Employed Civilian Population 16 Years And Over: Service occupations',
       '% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       '% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       '% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [69]:
# Reduce DataFram
demo_Reduct = cd_DemoData[['cd_id', 'Total Population','Median household income (In 2014 Inflation Adjusted Dollars)']]
demo_Reduct

# Kept population data as a good reference / base data point, and income data as a potential comparison to 
# complaint data

,cd_id,Total Population,Median household income (In 2014 Inflation Adjusted Dollars)
0,BX08,106737,54224
1,BX12,134644,44906
2,BX10,121209,54962
3,BX11,135839,47910
4,BX03,172247,22041
5,BX06,172247,22041
6,BX07,135893,35495
7,BX05,132850,20872
8,BX04,141467,27203
9,BX09,190126,36058
10,BX01,167147,21116
11,BX02,167147,21116
12,MN12,224365,45157
13,MN09,130739,42235
14,MN10,132027,40564
15,MN11111,129713,31340
16,MN08,221898,115238
17,MN07,192374,106181
18,MN05,149447,98561
19,MN04,149447,98561
20,MN06,143349,105625
21,MN03,152453,41366
22,MN01,159903,120190
23,MN02,159903,120190
24,SI03,170741,82718
25,SI02,126200,71459
26,SI01,176338,57602
27,BK01,154713,57818
28,BK04,137368,40484
29,BK03,133235,34678
30,BK02,139070,84568
31,BK06,125062,113045
32,BK08,126747,44904
33,BK16,123772,25259
34,BK05,155863,32996
35,BK18,210957,62090
36,BK17,137526,42349
37,BK09,109337,41814
38,BK07,152685,48051
39,BK10,128545,56696
40,BK12,170011,43222
41,BK14,180723,50316
42,BK15,137815,52717
43,BK11,187637,47748
44,BK13,110727,29578
45,QN01,182860,56269
46,QN03,182354,49610
47,QN07,256742,52105
48,QN11,120996,80866
49,QN13,193102,75732
50,QN08,159330,55324
51,QN04,154740,45264
52,QN06,107893,61290
53,QN02,150100,57265
54,QN05,168488,63660
55,QN09,151202,61275
56,QN12,251002,52537
57,QN10,134827,60946
58,QN14,107944,44239

In [79]:
# Clean / Format cd_id field for later merge

demo_Reduct['Borough'] = 'NaN'
demo_Reduct['CD_No'] = 'NaN'

for x in range(0, len(demo_Reduct)):
        if demo_Reduct['cd_id'][x][:2] == 'BX':
            demo_Reduct['Borough'][x] = 'BRONX'
            demo_Reduct['CD_No'][x] = demo_Reduct['cd_id'][x][-2:]
        elif demo_Reduct['cd_id'][x][:2] == 'BK':
            demo_Reduct['Borough'][x] = 'BROOKLYN'
            demo_Reduct['CD_No'][x] = demo_Reduct['cd_id'][x][-2:]
        elif demo_Reduct['cd_id'][x][:2] == 'MN':
            demo_Reduct['Borough'][x] = 'MANHATTAN'
            demo_Reduct['CD_No'][x] = demo_Reduct['cd_id'][x][-2:]
        elif demo_Reduct['cd_id'][x][:2] == 'QN':
            demo_Reduct['Borough'][x] = 'QUEENS'
            demo_Reduct['CD_No'][x] = demo_Reduct['cd_id'][x][-2:]
        elif demo_Reduct['cd_id'][x][:2] == 'SI':
            demo_Reduct['Borough'][x] = 'STATEN ISLAND'
            demo_Reduct['CD_No'][x] = demo_Reduct['cd_id'][x][-2:]

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2881: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [87]:
# Concatenate new columns into new, merge compatible 
demo_Reduct['cd_id'] = demo_Reduct['CD_No'] + ' ' + demo_Reduct['Borough']
demo_Reduct = demo_Reduct.drop(['Borough', 'CD_No'], axis = 1)
demo_Reduct

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,cd_id,Total Population,Median household income (In 2014 Inflation Adjusted Dollars)
0,08 BRONX,106737,54224
1,12 BRONX,134644,44906
2,10 BRONX,121209,54962
3,11 BRONX,135839,47910
4,03 BRONX,172247,22041
5,06 BRONX,172247,22041
6,07 BRONX,135893,35495
7,05 BRONX,132850,20872
8,04 BRONX,141467,27203
9,09 BRONX,190126,36058
10,01 BRONX,167147,21116
11,02 BRONX,167147,21116
12,12 MANHATTAN,224365,45157
13,09 MANHATTAN,130739,42235
14,10 MANHATTAN,132027,40564
15,11 MANHATTAN,129713,31340
16,08 MANHATTAN,221898,115238
17,07 MANHATTAN,192374,106181
18,05 MANHATTAN,149447,98561
19,04 MANHATTAN,149447,98561
20,06 MANHATTAN,143349,105625
21,03 MANHATTAN,152453,41366
22,01 MANHATTAN,159903,120190
23,02 MANHATTAN,159903,120190
24,03 STATEN ISLAND,170741,82718
25,02 STATEN ISLAND,126200,71459
26,01 STATEN ISLAND,176338,57602
27,01 BROOKLYN,154713,57818
28,04 BROOKLYN,137368,40484
29,03 BROOKLYN,133235,34678
30,02 BROOKLYN,139070,84568
31,06 BROOKLYN,125062,113045
32,08 BROOKLYN,126747,44904
33,16 BROOKLYN,123772,25259
34,05 BROOKLYN,155863,32996
35,18 BROOKLYN,210957,62090
36,17 BROOKLYN,137526,42349
37,09 BROOKLYN,109337,41814
38,07 BROOKLYN,152685,48051
39,10 BROOKLYN,128545,56696
40,12 BROOKLYN,170011,43222
41,14 BROOKLYN,180723,50316
42,15 BROOKLYN,137815,52717
43,11 BROOKLYN,187637,47748
44,13 BROOKLYN,110727,29578
45,01 QUEENS,182860,56269
46,03 QUEENS,182354,49610
47,07 QUEENS,256742,52105
48,11 QUEENS,120996,80866
49,13 QUEENS,193102,75732
50,08 QUEENS,159330,55324
51,04 QUEENS,154740,45264
52,06 QUEENS,107893,61290
53,02 QUEENS,150100,57265
54,05 QUEENS,168488,63660
55,09 QUEENS,151202,61275
56,12 QUEENS,251002,52537
57,10 QUEENS,134827,60946
58,14 QUEENS,107944,44239

In [90]:
# Load Infrastructure Data
df_infr = pd.read_csv('http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv')
df_infr.head(5)

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [91]:
# View Columns
df_infr.columns

Index(['FIPS', 'Geographic Identifier', 'Qualifying Name', 'Households',
       'Households: With An Internet Subscription',
       'Households: Dial-Up Alone', 'Households: Dsl',
       'Households: With Mobile Broadband',
       'Households: Without Mobile Broadband', 'Households: Cable Modem',
       'Households: With Mobile Broadband.1',
       'Households: Without Mobile Broadband.1', 'Households: Fiber-Optic',
       'Households: With Mobile Broadband.2',
       'Households: Without Mobile Broadband.2',
       'Households: Satellite Internet Service',
       'Households: With Mobile Broadband.3',
       'Households: Without Mobile Broadband.3',
       'Households: Two or More Fixed Broadband Types, or Other',
       'Households: With Mobile Broadband.4',
       'Households: Without Mobile Broadband.4',
       'Households: Mobile Broadband Alone or With Dialup',
       'Households: Internet Access Without A Subscription',
       'Households: No Internet Access',
       '% Households: With An Internet Subscription', 'Households.1',
       'Households: Has A Computer',
       'Households: With Dial-Up Internet Subscription Alone',
       'Households: With A Broadband Internet Subscription',
       'Households: Without An Internet Subscription',
       'Households: No Computer'],
      dtype='object')

Index(['FIPS', 'Geographic Identifier', 'Qualifying Name', 'Households',
       'Households: With An Internet Subscription',
       'Households: Dial-Up Alone', 'Households: Dsl',
       'Households: With Mobile Broadband',
       'Households: Without Mobile Broadband', 'Households: Cable Modem',
       'Households: With Mobile Broadband.1',
       'Households: Without Mobile Broadband.1', 'Households: Fiber-Optic',
       'Households: With Mobile Broadband.2',
       'Households: Without Mobile Broadband.2',
       'Households: Satellite Internet Service',
       'Households: With Mobile Broadband.3',
       'Households: Without Mobile Broadband.3',
       'Households: Two or More Fixed Broadband Types, or Other',
       'Households: With Mobile Broadband.4',
       'Households: Without Mobile Broadband.4',
       'Households: Mobile Broadband Alone or With Dialup',
       'Households: Internet Access Without A Subscription',
       'Households: No Internet Access',
       '% Households: With An Internet Subscription', 'Households.1',
       'Households: Has A Computer',
       'Households: With Dial-Up Internet Subscription Alone',
       'Households: With A Broadband Internet Subscription',
       'Households: Without An Internet Subscription',
       'Households: No Computer'],
      dtype='object')